mixin nav-content()
  ul
    li: a(href='#gallery').active Gallery
    li: a(href='#about') About
    li: a(href='#contact') Contact


doctype html

html
  title The Art of Steven Bachan
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='main.css')

  
  .home-wrap
    header
      .logo Placeholder
      h1 The Art of Steven Bachan
      nav.site-nav
        +nav-content
    
    .home-section    
      section.gallery
        .imageContainer
          .image1.imageTemp
            p Image Caption
          .image2.imageTemp
            p Image Caption
          .image3.imageTemp
            p Image Caption
          .image4.imageTemp
            p Image Caption
          .image5.imageTemp
            p Image Caption
          .image6.imageTemp
            p Image Caption
          .image7.imageTemp
            p Image Caption
          .image8.imageTemp
            p Image Caption              
                        
    footer
      h4 All Images Contained Herein Are @ Steven Bachan And May Not Be Used Partially Or Entirely Without Written Permission
